<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.user.controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignUpServlet</servlet-name>
        <servlet-class>com.user.controller.UserSignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddApplicationServlet</servlet-name>
        <servlet-class>com.application.controller.AddApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>com.staff.controller.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.admin.controller.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogoutServlet</servlet-name>
        <servlet-class>com.staff.controller.StaffLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HEAListPage</servlet-name>
        <servlet-class>com.staff.controller.HEAListPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HEPListPage</servlet-name>
        <servlet-class>com.staff.controller.HEPListPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UZSWListPage</servlet-name>
        <servlet-class>com.staff.controller.UZSWListPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.user.controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borangMaklumatServlet</servlet-name>
        <servlet-class>com.borang_maklumat.controller.borangMaklumatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStaffServlet</servlet-name>
        <servlet-class>com.staff.controller.addStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStaffServlet</servlet-name>
        <servlet-class>com.staff.controller.deleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStaffServlet</servlet-name>
        <servlet-class>com.staff.controller.updateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveZakatAmount</servlet-name>
        <servlet-class>com.staff.controller.saveZakatAmount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDocumentServlet</servlet-name>
        <servlet-class>com.documents.controller.GetDocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLogOutServlet</servlet-name>
        <servlet-class>com.user.controller.userLogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eligibleCheckServlet</servlet-name>
        <servlet-class>com.application.controller.eligibleCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogOutServlet</servlet-name>
        <servlet-class>com.admin.controller.adminLogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cetakBorangServlet</servlet-name>
        <servlet-class>com.borang_maklumat.controller.cetakBorangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>documentsRetrievalServlet</servlet-name>
        <servlet-class>com.documents.controller.documentsRetrievalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadDocServlet</servlet-name>
        <servlet-class>com.borang_maklumat.controller.downloadDocServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goUZSWdashboard</servlet-name>
        <servlet-class>com.staff.controller.goUZSWdashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goHEADashboard</servlet-name>
        <servlet-class>com.staff.controller.goHEADashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goHEPDashboard</servlet-name>
        <servlet-class>com.staff.controller.goHEPDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/staff_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/user_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignUpServlet</servlet-name>
        <url-pattern>/user_signup.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddApplicationServlet</servlet-name>
        <url-pattern>/add_application.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogoutServlet</servlet-name>
        <url-pattern>/staff_logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HEAListPage</servlet-name>
        <url-pattern>/HEAListPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HEPListPage</servlet-name>
        <url-pattern>/HEPListPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UZSWListPage</servlet-name>
        <url-pattern>/UZSWListPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borangMaklumatServlet</servlet-name>
        <url-pattern>/borangMaklumat_kemaskini.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStaffServlet</servlet-name>
        <url-pattern>/addStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStaffServlet</servlet-name>
        <url-pattern>/deleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStaffServlet</servlet-name>
        <url-pattern>/updateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveZakatAmount</servlet-name>
        <url-pattern>/saveZakatAmount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDocumentServlet</servlet-name>
        <url-pattern>/addDocumentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLogOutServlet</servlet-name>
        <url-pattern>/user_logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eligibleCheckServlet</servlet-name>
        <url-pattern>/eligible_check.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogOutServlet</servlet-name>
        <url-pattern>/adminLogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cetakBorangServlet</servlet-name>
        <url-pattern>/cetakBorangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>documentsRetrievalServlet</servlet-name>
        <url-pattern>/documentsRetrievalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadDocServlet</servlet-name>
        <url-pattern>/downloadDocServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goUZSWdashboard</servlet-name>
        <url-pattern>/goUZSWdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goHEADashboard</servlet-name>
        <url-pattern>/goHEADashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goHEPDashboard</servlet-name>
        <url-pattern>/goHEPDashboard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
