/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2024, 1:48:10 AM
    Author     : nasru
*/


body {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    background-color: #F2EBDD; 
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #522E5C; 
    padding: 1rem; 
}
.navbar-brand {
    font-size: 1.5rem; /* Bigger font for brand name */
}
.table-container {
    background-color: #522E5C;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
}

.table th, .table td {
    vertical-align: middle;
}

.btn-tambah {
    background-color: #8b0000;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-link {
    color: inherit; /* Use the current text color */
    text-decoration: none; /* Remove underline */
}

.btn-link:hover {
    color: #007bff; /* Change to your desired hover color */
    background-color: transparent; /* Ensure background remains transparent */
}

.btn-link i {
    color: inherit; /* Ensure icon color matches text color */
}

.btn-link:hover i {
    color: inherit; /* Ensure icon color remains the same on hover */
}

.btn-log {
    color: white;
    background-color: #522E5C ;
    border-color: transparent;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding-left: 15px; 
    padding-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
  }
  
.btn-log:hover {
  color: black;
  background-color: white;
  border-color: #6d1313;
}

.btn-check:focus + .btn-log, .btn-log:focus {
  background-color: #f57576;
  border-color: #fd0a54;
  box-shadow: 0 0 0 0.25rem rgba(220, 98, 188, 0.5);
}
.btn-check:checked + .btn-log, .btn-check:active + .btn-log, .btn-log:active, .btn-log.active, .show > .btn-log.dropdown-toggle {
  background-color: #c74066;
  border-color: #8f4d65;
}
.btn-check:checked + .btn-log:focus, .btn-check:active + .btn-log:focus, .btn-log:active:focus, .btn-log.active:focus, .show > .btn-log.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 98, 188, 0.5);
}

.table {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.table th {
    background-color: #522E5C;
    color: white;
}
.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
.table th, .table td {
    border: 1px solid #dee2e6;
}