body {
    background-color: #f8f9fa;
    overflow: hidden;
}

h1 {
    margin-top: 20px;
}

.hero {
    background-color: #e9ecef;
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the image */
}

.hero img{
    width: 100%; /* Set the width to fill the container */
    height: 100%; /* Set the height to fill the container */
    object-fit: cover; /* Crop the image to cover the container */
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-60%, -50%);
    color: white;
    text-align: left;
}

.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}

.navbar-bg{
    background-color: #173930;
}

.btn{
    color: white;
}

.btn:hover{
    color: grey;
}

.btn-log {
    color: white;
    background-color:#6d1313;
    border-color: transparent;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding-left: 15px; 
    padding-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
  }
  
.btn-log:hover {
  color: black;
  background-color: white;
  border-color: #6d1313;
}

.btn-check:focus + .btn-log, .btn-log:focus {
  background-color: #f57576;
  border-color: #fd0a54;
  box-shadow: 0 0 0 0.25rem rgba(220, 98, 188, 0.5);
}
.btn-check:checked + .btn-log, .btn-check:active + .btn-log, .btn-log:active, .btn-log.active, .show > .btn-log.dropdown-toggle {
  background-color: #c74066;
  border-color: #8f4d65;
}
.btn-check:checked + .btn-log:focus, .btn-check:active + .btn-log:focus, .btn-log:active:focus, .btn-log.active:focus, .show > .btn-log.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 98, 188, 0.5);
}

