body {
    background-color: #f8f9fa;
    font-size: 14px;
    overflow: hidden !important;
}

.html {
    overflow: hidden;
}

container {
    overflow: hidden;
}

.main-container {
    background-color: #F6EEE1;
    padding: 40px !important;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto !important;
    max-width: 1200px !important;
    overflow: hidden !important;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 0.75rem;
}

.welcome-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body-lg {
    min-height: 260px; /* Increase height of the blue card */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas {
    max-height: 300px;
    max-width: 100%;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #7DA1C0;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
    padding-top: 6%;
}

#sidebar.active {
    left: 0;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #ffffff30;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#sidebar ul li a:hover {
    background-color: #CEB5D4;
    height: 90%;
    width: 90%;
}

/* Content */
#content {
    margin-left: 0;
}

/* Toggle button */
.toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1100;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Overlay Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark background with transparency */
    display: none; /* Initially hidden */
    z-index: 900; /* Below the sidebar but above the content */
}

.overlay.active {
    display: block; /* Show the overlay when active */
}

