body {
    background-color: #fdf3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.card {
    border: 5px;
    border-radius: 10px;
}

.btn-primary {
    background-color: #7b1212;
    border-color: #7b1212;
}

.btn-primary:hover {
    background-color: #5a0e0e;
}

.btn-log {
    background-color:#6d1313;
    border-color: transparent;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding-left: 15px; 
    padding-right: 15px;
    font-weight: bold;
  }
  .btn-log:hover {
    color: black;
    background-color: transparent;
    border-color: #6d1313;
  }
  
  .btn-check:focus + .btn-log, .btn-log:focus {
    background-color: #f57576;
    border-color: #fd0a54;
    box-shadow: 0 0 0 0.25rem rgba(220, 98, 188, 0.5);
  }
  .btn-check:checked + .btn-log, .btn-check:active + .btn-log, .btn-log:active, .btn-log.active, .show > .btn-log.dropdown-toggle {
    background-color: #c74066;
    border-color: #8f4d65;
  }
  .btn-check:checked + .btn-log:focus, .btn-check:active + .btn-log:focus, .btn-log:active:focus, .btn-log.active:focus, .show > .btn-log.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 98, 188, 0.5);
  }

.illustration {
    background-color: #274c3b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 10px;
}

h2 {
    font-weight: bold;
}

span {
    font-weight: normal;
    font-size: 14px; 
    display: block;
}


